$primary-color: #2d0196;
$secondary-color: hsl(239, 100%, 71%);
$background-color: #08081d;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@mixin linear-gradient($url) {
  background: linear-gradient(
      130deg,
      rgba($primary-color, 0.8),
      rgba($background-color, 0.9)
    ),
    url($url) center bottom;
}

@mixin transition-ease {
  transition: all 0.5s ease-in-out;
}
@mixin transition-quick {
  transition: all 0.2s ease-in-out;
}

@function set-text-color($color) {
  @if (lightness($color) > 50%) {
    @return $primary-color;
  } @else {
    @return #fff;
  }
}

@mixin media-md {
  @media screen and (min-width: 720px) {
    @content;
  }
}
@mixin media-lg {
  @media screen and (min-width: 1024px) {
    @content;
  }
}
@mixin media-xl {
  @media screen and (min-width: 1350px) {
    @content;
  }
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
