.contact {
  height: 100vh;
  padding-top: 40vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  @include linear-gradient("/img/background.jpg");
  background-size: cover;
  animation-name: appear;
  animation-duration: 2s;

  h2 {
    font-size: 3rem;
    margin-bottom: 2rem;
  }

  &__list {
    display: block;
    font-size: 1.1rem;
    list-style-type: none;

    li {
      margin: 1rem;
    }
  }

  .text-secondary a {
    color: $secondary-color;
  }
  .text-secondary a:hover {
    color: lighten($secondary-color, 15%);
  }
}
