.home {
  padding-top: 40vh;
  height: 100vh;
  overflow: hidden;
  align-items: center;
  text-align: center;
  @include linear-gradient("/img/background.jpg");
  background-size: cover;
  background-blend-mode: multiply;

  &__name {
    font-size: 3rem;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
    border-bottom: 2px solid set-text-color($primary-color);
    animation-name: appear;
    animation-duration: 3s;

    &--last {
      color: $secondary-color;
      font-weight: 700;
    }
  }
}
