.projects {
  position: relative;
  padding-bottom: 5rem;

  &__bio-image {
    height: 30vh;
    width: 100%;
    @include linear-gradient("/img/background.jpg");
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;

    .text-secondary {
      font-size: 2rem;
      margin-bottom: 2rem;
    }
  }

  &__items {
    width: 100%;
    margin: 2rem auto;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
  }

  &__item {
    position: relative;
    border-bottom: 5px solid $secondary-color;
    margin: 2rem;
    overflow: hidden;

    &::after {
      content: "";
      position: absolute;
      top: 100%;
      left: 0;
      height: 100%;
      width: 100%;
      background: $secondary-color;
      opacity: 0;
      @include transition-ease;
    }

    &:hover {
      &::after {
        top: 0;
        opacity: 0.9;
      }
      .projects__btn,
      .projects__description {
        opacity: 1;
      }
    }
  }

  &__btns {
    position: absolute;
    top: 0;
    height: 40%;
    width: 100%;
    z-index: 1;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    text-align: center;
  }

  &__btn {
    opacity: 0;
    color: set-text-color($secondary-color);
    @include transition-ease;

    &:hover {
      color: set-text-color(set-text-color($secondary-color));
      text-shadow: 2px 2px 4px #000000;
      @include transition-quick;
    }
  }

  &__description {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    color: set-text-color($secondary-color);
    z-index: 1;
    width: 80%;
    font-size: 0.8rem;
    line-height: 1.5;
    font-style: italic;
    cursor: default;
    @include transition-ease;
  }
}
